/* ПЕРВАЯ СЕКЦИЯ MAIN-SECTION */

.section-main {
  margin-bottom: 24px;
}

.services__highlight {
  background-image: url(./img/highlight.svg);
  width: 4px;
  height: 40px;
  position: absolute;
  margin-top: 24px;
}

.services__highlightBR {
  display: none;
}

.services__container {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
}

h1 {
  color: #1b1c21;
  font-family: TT Lakes;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 142.857% */
  letter-spacing: -0.6px;
  margin: 0;
  padding-top: 24px;
  padding-left: 16px;
}

.services__btns {
  display: flex;
}

.services .header__btn:nth-child(2) {
  display: none;
}

.services .header__btn:nth-child(4) {
  display: none;
}

.services__btn {
  display: none;
}

@media (min-width: 1366px) {
  .services {
    padding-top: 42px;
  }

  h1 {
    padding-top: 0;
    padding-left: 30px;
  }

  .services__highlight {
    display: none;
  }

  .services__highlightBR {
    background-image: url(./img/highlightBR.svg);
    display: initial;
    position: absolute;
    width: 3px;
    height: 40px;
    margin-top: 0;
  }

  .services .header__btn:nth-child(2) {
    display: initial;
  }

  .services .header__btn:nth-child(4) {
    display: initial;
  }

  .header__btn--repair {
    margin-right: 30px;
  }

  .services__btn {
    display: initial;
    width: 125px;
    color: #1b1c21;
    font-family: TT Lakes;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
    border: none;
    background-color: #f8f8f8;
    padding: 0;
    margin-right: 10px;
  }
}

.navigation {
  display: flex;
  margin-left: 16px;
  margin-top: 24px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.navigation::-webkit-scrollbar {
  height: 0;
  width: 0px;
}

.navigation__btn {
  height: 40px;
  flex-shrink: 0;
  border-radius: 6px;
  background-color: #f8f8f8;
  color: #7e7e82;
  font-family: TT Lakes;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
  border: none;
  outline: none;
  padding-right: 17px;
  padding-left: 17px;
}

.navigation__btn:hover {
  border: 2px solid #b8ffec;
  background: #fff;
}

@media (min-width: 767px) and (max-width: 1119px) {
  .navigation {
    margin-top: 32px;
    margin-left: 24px;
  }

  .navigation__btn--prices {
    display: initial;
  }
}

@media (min-width: 1366px) {
  .navigation {
    flex-wrap: wrap;
    margin-top: 8.37px;
    margin-left: 32px;
  }

  .navigation__btn:nth-child(3) {
    display: none;
  }
}

/* ТЕКСТ СТРАНИЦЫ И КАРТИНКА */
.section-main__content {
  /* display: flex;
  flex-wrap: wrap; */
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 95%;
  }
}

.section-main__content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 auto;
  width: 90%;
  padding-top: 18px;
}

.section-main__text {
  display: flex;
  flex-direction: column;
  max-height: 134.5px;
  overflow: hidden;
  transition: height 0.5s ease;
  gap: 10px;
  max-width: 90%;
  color: $text-color-main-black;
  font-family: TT Lakes;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.9px;
  letter-spacing: 0.2px;
}

.showMore {
  color: #1b1c21;
  font-family: TT Lakes;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
  border: none;
  background-color: #f8f8f8;
  padding: 0;
  display: flex;
}

.showMore::before {
  content: url(./img/arrows.svg);
  width: 24px;
  height: 24px;
  margin-left: 24px;
  padding-right: 8px;
}

.close {
  content: "Close";
  color: #1b1c21;
  font-family: TT Lakes;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
  border: none;
  background-color: #f8f8f8;
  padding: 0;
}

.close::before {
  content: url(./img/arrows.svg);
  transform: rotate(180deg);
  transition-duration: .2s;
  width: 24px;
  height: 24px;
  margin-left: 16px;
  margin-right: 8px;
}

/* Картинка в секции */
.section-main__img {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.section-main__img-1 {
  width: 100%;
  height: auto;

  @media (min-width: 768px) {
    border-radius: 10px;
    width: 360px;
    height: 208px;
  }

  @media (min-width: 1366px) {
    border-radius: 10px;
    width: 532px;
    height: 308px;
  }
}


