.section-brands {
  margin-bottom: 24px;

  @media (min-width: 768px) {
    margin-bottom: 32px;
  }
  @media (min-width: 1120px) {
    margin-bottom: 50px;
  }

  &__swiper {
    min-height: 110px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  &__swiper-slide {
    height: 72px;
    min-width: 220px;
    max-width: 240px;

    @media (min-width: 768px) {
      min-width: none;
      max-width: none;
      width: calc((100% - (2 * 24px)) / 3);
      margin: 0;
    }

    @media (min-width: 1440px) {
      width: calc((100% - (3 * 32px)) / 4);
    }
  }

  &__content-card {
    display: flex;
    justify-content: space-between;
    height: 50%;
    background-color: $color-white;
    border-radius: 6px;
    align-items: center;
    padding: 16px 20px;
    border: 1px solid $color-stroke-grey;
  }

  &__content-card-button {
    height: 40px;
    background-image: url(./img/arrow.svg);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
  }

  &__button {
    display: none;

    @media (min-width: 768px) {
      display: flex;
      align-items: center;
      margin: 10px 0 0 24px;
      gap: 9px;
      padding-left: 5px;
    }
  }

  &__content-card-button {
    &:focus,
    &:hover {
      opacity: 0.5;
      transition: 0.2s;
    }
  }
}

.brands-button {
  &__text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;

    &:focus,
    &:hover {
      opacity: 0.5;
    }
  }

  &__svg-arrows {
    &--hide {
      transform: rotate(180deg);
      transition-duration: 0.2s;
    }
  }
}

.show-more {
  color: #1b1c21;
  font-family: TT Lakes;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
  border: none;
  background-color: #f8f8f8;
  padding: 0;
  display: flex;
  margin-top: 24px;
}

.show-more::before {
  content: url(./img/arrows.svg);
  width: 24px;
  height: 24px;
  margin-left: 24px;
  padding-right: 8px;
}

.close-menu {
  content: "Close";
  color: #1b1c21;
  font-family: TT Lakes;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
  border: none;
  background-color: #f8f8f8;
  padding: 0;
}

.close-menu::before {
  content: url(./img/arrows.svg);
  transform: rotate(180deg);
  width: 24px;
  height: 24px;
  margin-left: 16px;
  margin-right: 8px;
}

@media (max-width: 767px) {
  .show-more {
    display: none;
  }
}





